<% include ./partials/header%>

<div class="ui main text container segment">
    <div class="ui huge header">
        Add Category
    </div>
    <form class="ui form" action="/news" method="POST">
    <div class="field">
        <label>News title</label>
        <input type="text" name="title" placeholder="Title">
    </div>
     <div class="field">
        <label>News category</label>
      <select id="selectpicker" class="ui fluid dropdown" name="category">
          <%categories.forEach((category)=>{%>
                <option value="<%=category.ID%>"><%=category.NAME %></option>
          <%})%>
      </select>
    </div>  
    <div class="field">
        <label>Banner</label>
        <input type="text" name="banner" placeholder="Banner">
    </div>
   
    <div class="field">
        <label>News Text</label>
        <textarea rows="10" cols="40" name="text"></textarea>
    </div>
    
    <br>
    <input class="ui blue inverted button" type="submit" name="" value="Add">
    </form>
</div>
<% include ./partials/footer%>